<h1> Edit User </h1>
<%
=begin%>
    <h1> Sign up here <h1>

    <form action= "/users" method="get" accept-charset="UTF-8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        
        <label for="username">Username:</label><br>
        <input id="username" name="user[username]" type="text" /><br><br>

        <label for="email">email:</label><br>
        <input id="email" name="user[email]" type="text"/><br><br>

        <label for="password">Password:</label><br>
        <input id="password" name="user[password]" type="password" /><br><br>

        <input name="submit" type="submit" value="Submit"/>
    </form>

    <%= form_tag('/users') do %>
        <%= label_tag(:username, "Username:") %>
        <%= text_field_tag(:username) %>
        <%= label_tag(:email, "Email:") %>
        <%= email_field_tag(:user, :email) %>
        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>
        <%= submit_tag("Submit") %>
    <% end %> 
<%
=end%>

   
<%= form_with model: @user do |form| %>
    <%= form.label(:username, "Username: ")%><br>
    <%= form.text_field :username %><br><br>
    <%= label_tag(:email, "email:") %><br>
    <%= form.email_field :email %><br><br>
    <%= label_tag(:password, "Password:") %><br>
    <%= form.password_field :password %><br><br>
    <%= form.submit :Edit %>
<% end %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
